<article class="post-card">
    <div class="post-card__container">
    	<div class="post-card__img-box">
    	    <img src="{{feature_image}}" alt="">
    	</div>
    	<h2 class="post-card__title">{{title}}</h2>
    	<div class="post-card__excerpt-box">
    		<p class="post-card__excerpt-text">{{excerpt words="40"}}</p>
    	</div>
    	<span class="post-card__date">{{date}}</span>
    	<a href="{{url}}" class="post-card__btn-readit">Read it</a>
    </div>
</article>
